
*{
    margin: 0;
    padding: 0;
}

.loginBg{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.opBg{
    position: absolute;
    height: 100%;
    width: 100%;
    background:  url('https://img2.baidu.com/it/u=100015138,2547674424&fm=253&fmt=auto&app=138&f=JPEG?w=450&h=334') no-repeat right; 
    background-size: contain;
    backdrop-filter: blur(3px);
    filter: blur(3px);
    z-index: 1;
}

.inputStyle{
    height: 350px;
    width: 450px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    border-radius: 5%;
    background:rgba(11, 11, 11, 0.3);
    z-index: 2;
}
.titles{
    top: 30px;
    font-size: 25px;
    margin: 10px;
    font-weight: 600;
    z-index: 2;
}